<!DOCTYPE html>

<html>
<head>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <style type="text/css">
    body {
        background-color: #f6f6ff;
        font-family: Calibri, Myriad;
    }

    #main {
        width: 780px;
        padding: 20px;
        margin: auto;
    }

    table.timecard {
        margin: auto;
        width: auto;
        border-collapse: collapse;
        border: 1px solid rgb(3, 3, 3); /*for older IE*/
        border-style: hidden;
    }

    table.timecard caption {
        background-color: #f79646;
        color: #fff;
        font-size: x-large;
        font-weight: bold;
        letter-spacing: .3em;
    }

    table.timecard thead th {
        padding: 8px;
        background-color: #fde9d9;
        font-size: large;
    }

    table.timecard thead th#thDay {
        width: 40%;	
    }

    table.timecard thead th#thRegular, table.timecard thead th#thOvertime, table.timecard thead th#thTotal {
        width: 20%;
    }

    table.timecard th, table.timecard td {
        padding: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #f79646 #ccc;
    }

    table.timecard td {
        text-align: center;
    }

    table.timecard tbody th {
        text-align: left;
        font-weight: normal;
    }

    table.timecard tfoot {
        font-weight: bold;
        font-size: large;
        background-color: #687886;
        color: #fff;
    }

    table.timecard tr.even {
        background-color: #fde9d9;
    }
</style>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<title>Bảng chấm công</title>
</head>

<body style="min-height:900px">
    <h2 style="text-align: center;">Nhập thông tin nhân viên cần xem:</h2>
    <input type="text" style="margin-left: auto;margin-right: auto;display: block;" name="hoten" id="hoten" placeholder="Họ tên nhân viên" />
    <input type="month" style="margin-left: auto;margin-right: auto;display: block;" id="myear" name="myear">
    <button type="button" style="margin-left: auto;margin-right: auto;display: block;" onclick="sendInfomation()">Submit</button>
    <div id = "placedraw"> 

    </div>

</body>
<script>
    
    var NameEmploy ;
    var EntryTime;
    var namespace = '/cham_cong';
    var socket = io.connect(location.protocol + '//' + 'localhost' + ':' + location.port + namespace);
    let hotentext
    let nam
    let thang
    let songaytrongthang
    let thudautientrongthang
    socket.on("nhan-thong-tin-bang-cham-cong",function(arrayNgay)
    {
        console.log(arrayNgay);
        
        drawTableChart(arrayNgay)
    })
    function sendInfomation()
    {
        hotentext = document.getElementById("hoten").value
        nam = document.getElementById("myear").value.slice(0,4);
        thang = document.getElementById("myear").value.slice(-2);
        let temp = new Date(nam,parseInt(thang)-1)
        songaytrongthang = 0;
        thudautientrongthang = temp.getDay()+1;//1 là chủ nhật
        switch(thang)
        {
            case "01":
            case "03":
            case "05":
            case "07":
            case "08":
            case "10":
            case "12":
                    songaytrongthang =31;
                    break;
            case "04":
            case "06":
            case "09":
            case "11":
                    songaytrongthang =30;
                    break;
            case "02":
                    let namInt = parseInt(nam)
                    if(namInt % 400 == 0)
                    {
                        songaytrongthang =29;
                        break;
                    }
                    else if(namInt % 4 == 0 && namInt % 100 !=0)
                    {
                        songaytrongthang =29;
                        break;
                    }
                    else
                    {
                        songaytrongthang =28;
                        break;
                    }
            default: break;
        }
        console.log(hotentext,nam,thang,songaytrongthang,thudautientrongthang)
        socket.emit("gui-thong-tin-bang-cham-cong",hotentext,nam,thang)
    }
    function drawTableChart(arrayNgay)
    {
        
        
        let sonv = 1;
        let SoNgayFull = 0;
        let SoNgayPart = 0;
        let SoNgayOff = 0;

        var para = document.getElementById("placedraw")
        while(para.firstChild) {
			para.removeChild(para.firstChild);
		}
        para.setAttribute("style","visibility: visible")
        var x = document.createElement("TABLE");
        x.setAttribute("id", "bang_cham_cong");
        x.setAttribute("class", "timecard");
        var table_caption = x.createCaption();
        table_caption.innerHTML = "<b>Bảng chấm công</b>";
        para.appendChild(x);
        let headrow = document.createElement('tr');

        let hoten = document.createElement('th');
        hoten.innerText ="Họ và tên";
        hoten.scope="rowgroup"
        hoten.setAttribute("rowspan","3")
        
        headrow.appendChild(hoten)


        let ngaytrongthang = document.createElement('th');
        ngaytrongthang.innerText ="Ngày trong tháng ";
        ngaytrongthang.colspan=songaytrongthang;
        ngaytrongthang.scope="colgroup row"
        ngaytrongthang.setAttribute("colspan",songaytrongthang)
        headrow.appendChild(ngaytrongthang)

        let tongcong = document.createElement('th');
        tongcong.innerText ="Tổng cộng giờ công ";
        tongcong.scope="rowgroup"
        tongcong.setAttribute("rowspan","3")
        
        headrow.appendChild(tongcong)

        x.appendChild(headrow)

        let ngay_header = document.createElement('tr')
        for(let i = 0; i < songaytrongthang; i++)
        {
            let temp_ngay = document.createElement('th');
            temp_ngay.innerText=(i+1);
            temp_ngay.scope="row col"
            ngay_header.appendChild(temp_ngay)
        }
        x.appendChild(ngay_header)

        let thu_header = document.createElement('tr')
        let thuhientai = thudautientrongthang;
        for(let i = 0; i < songaytrongthang; i++)
        {
            let temp_thu = document.createElement('th');
            if(thuhientai == 1)
                temp_thu.innerText="CN";
            else
                temp_thu.innerText="T"+thuhientai;
            temp_thu.scope="row col"
            thu_header.appendChild(temp_thu)
            thuhientai++;
            if(thuhientai==8) thuhientai = 1;
        }
        x.appendChild(thu_header)
        

        // Xuất thog
        for(let i = 0; i < sonv; i++)
        {
            let tongcong = 0;
            let temp_nv = document.createElement('tr')
            if(i%2==0)
                temp_nv.className="even"
            else
                temp_nv.className="odd"
            let hoten_nv = document.createElement('td')
            hoten_nv.innerText = hotentext;
            hoten_nv.scope="row"
            temp_nv.appendChild(hoten_nv)
            
            let count_arrayNgay = 0;

            for(let j = 0; j<(songaytrongthang);j++)
            {
                let SoGio = 0
                let chamcong_nv = document.createElement('td')
                if(arrayNgay[count_arrayNgay]!=null)
                    if(arrayNgay[count_arrayNgay].day == j + 1)
                    {
                        SoGio = arrayNgay[count_arrayNgay].factor
                        count_arrayNgay++;
                    }
                if(SoGio == 0)
                    SoNgayOff++;
                else if(SoGio >= 5)
                    SoNgayFull++;
                else 
                    SoNgayPart++;
                chamcong_nv.innerText=SoGio;
                chamcong_nv.scope="row col"
                tongcong+=SoGio;
                temp_nv.appendChild(chamcong_nv)
            }
            let tongcong_nv = document.createElement('td')
            tongcong_nv.innerText = tongcong;
            tongcong_nv.scope="row"
            temp_nv.appendChild(tongcong_nv)
            x.appendChild(temp_nv)
        }
        // <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;margin-top: 30px;backface-visibility: hidden"></div>
        var para_chart = document.createElement('div'); 
        para_chart.setAttribute("id","container");
        para_chart.setAttribute("style","min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto;margin-top: 30px;backface-visibility: hidden");
        para.appendChild(para_chart);
        Highcharts.chart('container', {
            chart: {
                backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(200, 200, 255)']
                ]
            },
                type: 'pie'
            },
            title: {
                text: 'Biểu đồ đi làm tháng '+thang+"/"+nam
            },
            exporting: { enabled: false },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
                }
            },
            series: [{
                name: 'Phần trăm',
                colorByPoint: true,
                data: [{
                name: 'Ngày làm full time',
                y: (SoNgayFull/(SoNgayFull+SoNgayOff+SoNgayPart))*100,
                sliced: true,
                selected: true
                }, {
                name: 'Ngày làm part time',
                y: (SoNgayPart/(SoNgayFull+SoNgayOff+SoNgayPart))*100
                }, {
                name: 'Ngày nghỉ',
                y: (SoNgayOff/(SoNgayFull+SoNgayOff+SoNgayPart))*100
                }]
            }]
        });
    }

</script>
</html>
