<!DOCTYPE html>

<html>

<head>
	<title>Đăng nhập</title>
	
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
</head>

<body>

	<h2>Đăng nhập</h2>
	
	<form class="form" method="POST">
		
		<p class="username">
			<input type="text" name="username" id="username" placeholder="" />
			<label for="username">Tên đăng nhập</label>
		</p>
		
		<p class="password">
			<input type="password" name="password" id="password" placeholder="" />
			<label for="password">Mật khẩu</label>
		</p>		
	
		<p class="submit">
			<input type="submit" value="Đăng nhập" />
		</p>
	</form>

</body>

</html>

