<!DOCTYPE html>

<html>

<head>
	<title>Đăng nhập</title>
	
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
</head>

<body>

	<h2 style="text-align: center;">Đăng nhập</h2>
	<div>
	<form class="form" style="text-align: center;" method="POST">
		
		<p class="username">
			<label for="username" >Tên đăng nhập</label>
			<input type="text" style="margin-left: auto;margin-right: auto;display: block;" name="username" id="username" placeholder="" />
			
		</p>
		
		<p class="password">
			<label for="password">Mật khẩu</label>
			<input type="password" style="margin-left: auto;margin-right: auto;display: block;" name="password" id="password" placeholder="" />
		</p>		
	
		<p class="submit">
			<input type="submit" value="Đăng nhập" />
		</p>
	</form>
</div>

</body>

</html>

