<!DOCTYPE html >

<html>

<head>
	<title>Thêm nhân viên</title>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" data-auto-replace-svg="nest"></script>
	<style type="text/css">
	ol {
		display: inline-block;
		
	}
	li {
		display: inline-block;
	}
    </style>
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {

			var a = "/register"
			var socket = io.connect(location.protocol + '//' + 'localhost' + ':' + location.port + a);

			socket.on('connect',function(){
				console.log("Connected !!!");
				socket.emit('get_id_signal');
			});

			socket.on('get_device',function(msg){
				
				for (var i of msg) {
					console.log(i);
					var x = document.getElementById("mySelect_device");
					var option = document.createElement("option");
					option.text = String(i['Description']);
					option.value = String(i['Description']);
					x.add(option);
				}
			});

			socket.on('get_id',function(msg){

				console.log(msg);
			});
			socket.on('get_id_web', function(msg) {
				obj = JSON.parse(msg);
				console.log(msg.data);
        		CardID = obj.CardID; // EmployName
        		var text = $('#mathe');
        		text.val(String(CardID));
        	});
			socket.on('get_finger_web', function(msg) {
				obj = JSON.parse(msg);
				
        		FingerID = obj.FingerID; // EmployName
        		var text = $('#FingerID');
        		text.val(String(FingerID));
        	});
			$("#myBtn").on("click", function(){
				var x = document.getElementById("myBtn");
				x.disabled = true;
				var valueOfSelect = document.getElementById("mySelect_device").value;
			 	// Choose device and get RFID tag
			 	socket.emit('get_location_signal',valueOfSelect)
			 }); 
		});

	</script>

</head>
<body style="min-height:600px">

	<h2>Thêm nhân viên</h2>
	
	<form class="form" method="POST" enctype="multipart/form-data">
		
		<p class="hoten">
			<input type="text" name="hoten" id="hoten" placeholder="Trần Văn Tèo" />
			<label for="hoten">Họ tên</label>
		</p>
		
		<p class="mathe">
			<input type="text" name="mathe" id="mathe" placeholder="Mã Thẻ" />
			<input type="text" name="FingerID" id="FingerID" placeholder="Thứ tự mã Vân Tay" />
			<select id="mySelect_device">	
				<option selected disabled>Địa Điểm Quản Lý</option>
			</select>
			<button type="button" id="myBtn"><i class="fas fa-angle-double-up"></i></button>
		</p>
		
		<p class="ngaysinh">
			<input type="text" name="ngaysinh" id="ngaysinh" placeholder="13-12-1996" />
			<label for="ngaysinh">Ngày sinh</label>
		</p>

		<p class="upanh">
			<label for="upanh" style="border: 1px solid #ccc;display: inline-block;padding: 6px 12px;cursor: pointer;margin: 0">
					<i class="far fa-file-image"></i> Up ảnh chân dung
			</label>
			<input type="file" id ="upanh" name="upanh" style="display:none" accept="image/*" />
			<div class="preview" style="max-width:800px">
					<p>Chưa có file nào được chọn</p>
			 </div>
		</p>
		
		<p class="submit">
			<input type="submit" name="Submit_button" value="Register" />
		</p>
	</form>
<script>
	var hinhanh = document.getElementById("upanh")
	var preview = document.querySelector('.preview');
	hinhanh.style.opacity = 0;
	hinhanh.addEventListener('change', updateImageDisplay);
	function updateImageDisplay() {
		while(preview.firstChild) {
			preview.removeChild(preview.firstChild);
		}

		var curFiles = hinhanh.files;
		if(curFiles.length === 0) {
			var para = document.createElement('p');
			para.textContent = 'No files currently selected for upload';
			preview.appendChild(para);
		} else {
			var list = document.createElement('ol');
			preview.appendChild(list);
			for(var i = 0; i < curFiles.length; i++) {
			var listItem = document.createElement('li');

			var para = document.createElement('p');
			if(validFileType(curFiles[i])) {
				var image = document.createElement('img');
				image.src = window.URL.createObjectURL(curFiles[i]);
				listItem.appendChild(image);


			} else {
				para.textContent = 'File name ' + curFiles[i].name + ': Not a valid file type. Update your selection.';
				listItem.appendChild(para);
			}

			list.appendChild(listItem);
			}
		}
		}
		var fileTypes = [
		'image/jpeg',
		'image/pjpeg',
		'image/png'
		]

		function validFileType(file) {
		for(var i = 0; i < fileTypes.length; i++) {
			if(file.type === fileTypes[i]) {
			return true;
			}
		}

		return false;
		}
</script>
</body>

</html>

