<!DOCTYPE html>

<html>

<head>
	<title>Thêm thiết bị</title>
	
	<meta charset="utf-8" />
	
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
</head>

<body>

	<h2>Thêm thiết bị</h2>
	
	<form class="form" method="POST">
		
		<p class="deviceid">
			<input type="text" name="deviceid" id="deviceid" placeholder="" />
			<label for="deviceid">ID thiết bị</label>
		</p>
		
		<p class="description">
			<textarea id="description" class="text" cols="86" rows ="20" name="description"></textarea>
			<label for="description">Mô tả</label>
		</p>		
	
		<p class="submit">
			<input type="submit" value="Thêm" />
		</p>
	</form>

</body>

</html>

